{% extends 'base.html' %}
{% block title %}部门详情{% endblock %}
{% block content %}
    {% load staticfiles %}
    <script src="{% static 'bootstrap-3.3.7-dist/js/echarts.js'%}"></script>
    {% include 'baseside.html' %}
    <div id="position2" class="row" xmlns="http://www.w3.org/1999/html">
        <div class="col-md-12">
    {#        <h1 class="page-head-line">部门</h1>#}
            <h1 class="page-subhead-line"><strong>部门情况</strong></h1>
        </div>
    </div>
    <div id="position3" class="col-md-12 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-inline" role="form" action="" method="POST">
                    <div class="form-group" >
                        <label>部门名称</label>
                        <select class="form-control" name="phone_name">
                                <option value="-1">---请选择---</option>
                                <option value="-1">---运营支撑部---</option>
                                {% for name in phone_list %}
                                    <option value={{ name.phone_name }}>{{ name.phone_name }}</option>
                                {% endfor %}
                        </select>
                    </div>
{#                    <div class="form-group">#}
{#                        <label>Bug等级</label>#}
{#                        <select class="form-control" name="phone_OS">#}
{#                            <option value="-1">---请选择---</option>#}
{#                            <option value= 0>iOS</option>#}
{#                            <option value= 1>Android</option>#}
{#                        </select>#}
{#                    </div>#}
                    <div class="form-group">
                        <label>开始时间</label>
                        <div class="input-group date" data-provide="datepicker"  data-date-format="yyyy-mm-dd" data-date-viewmode="years" data-date-minviewmode="months">
                            <input id="onlineday_start" type="text" class="form-control check" name="starttime" placeholder="{{ timestart }}">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                         <label>结束时间</label>
                        <div class="input-group date" data-provide="datepicker"  data-date-format="yyyy-mm-dd" data-date-viewmode="years" data-date-minviewmode="months">
                            <input id="onlineday_end" type="text" class="form-control check" name="endtime" placeholder="{{ endtime }}">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group pull-right">
                        <button type="submit" class="btn btn-info">查询</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

   <div id="position4" class="panel panel-default">
        <div class="panel-body">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#bug_table" data-toggle="tab">Bug统计表</a>
                </li>
                <li class="">
                    <a href="#bug_status" data-toggle="tab">Bug统计趋势</a>
                </li>
                <li class="">
                    <a href="#total_status" data-toggle="tab">总体趋势</a>
                </li>
            </ul>


            <div class="tab-content">
                {# Bug统计表 #}
                <div class="tab-pane fade active in" id="bug_table">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Bug名称</th>
                                                <th>Bug等级</th>
                                                <th>更新时间</th>
                                                <th>Bug状态</th>
                                                <th>所属部门</th>
                                            </tr>
                                        </thead>
                                            <tbody>
{#                                                {% for phone in phone_list %}#}
                                                <tr id="phone_clone">
                                                    <td>1</td>
                                                    <td>时间出错</td>
                                                    <td>P4</td>
                                                    <td>2018-06-06 15:20:30</td>
                                                    <td>待解决</td>
                                                    <td>运营支撑</td>
                                                </tr>
{#                                                {% endfor %}#}
                                            </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                </div>
                {# Bug统计趋势 #}
                <div class="tab-pane fade" id="bug_status">
                    <div id="main2" style="width: 1200px;height:600px;margin: auto;"></div>
                </div>
                {# 总体趋势 #}
                <div class="tab-pane fade" id="total_status">
                    <div id="main3" style="width: 1200px;height:600px;margin: auto;"></div>
                </div>
            </div>
        </div>
    </div>


            <script type="text/javascript">
                // 基于准备好的dom，初始化echarts实例
                var myChart = echarts.init(document.getElementById('main2'));
                // 指定图表的配置项和数据
                var option = {
                        title: {
                            text: 'Bug占比变化',
                            subtext: '1~12月',
                            top: 10,
                            left: 200
                        },
                        tooltip: {
                            trigger: 'item',
                            backgroundColor : 'rgba(0,0,250,0.2)'
                        },
{#                        legend: {#}
{#                            type: 'scroll',#}
{#                            bottom: 10,#}
{#                            data: (function (){#}
{#                                var list = [];#}
{#                                for (var i = 1; i <=12; i++) {#}
{#                                    list.push(i);#}
{#                                }#}
{#                                return list;#}
{#                            })()#}
{#                        },#}
{#                        visualMap: {#}
{#                            top: 'middle',#}
{#                            right: 10,#}
{#                            color: ['red', 'yellow'],#}
{#                            calculable: true#}
{#                        },#}
                        radar: {
                           indicator : [
                               { text: 'P0', max: 400},
                               { text: 'P1', max: 400},
                               { text: 'P2', max: 400},
                               { text: 'P3', max: 400},
                               { text: 'P4', max: 400}
                            ]
                        },
                        series : (function (){
                            var series = [];
{#                            for (var i = 1; i <= 12; i++) {#}
                            i = '结果（%）'
                                series.push({
                                    name:'Bug比例（数据纯属虚构）',
                                    type: 'radar',
                                    symbol: 'none',
                                    lineStyle: {
                                        width: 1
                                    },
                                    emphasis: {
                                        areaStyle: {
                                            color: 'rgba(0,250,0,0.3)'
                                        }
                                    },
                                    data:[
                                      {
                                        value:[
                                            5,
                                            15,
                                            20,
                                            25,
                                            35
                                        ],
                                        name: i
                                      }
                                    ]
                                });
{#                            }#}
                            return series;
                        })()
                    };

                // 使用刚指定的配置项和数据显示图表。
                myChart.setOption(option);
            </script>

            <script type="text/javascript">
                // 基于准备好的dom，初始化echarts实例
                var myChart = echarts.init(document.getElementById('main3'));
                // 指定图表的配置项和数据
                var option = {
                        title: {
                            text: '总趋势变化',
                            subtext: '1~12月',
                            top: 10,
                            left: 200
                        },
                        tooltip: {
                            trigger: 'item',
                            backgroundColor : 'rgba(0,0,250,0.2)'
                        },
{#                        legend: {#}
{#                            type: 'scroll',#}
{#                            bottom: 10,#}
{#                            data: (function (){#}
{#                                var list = [];#}
{#                                for (var i = 1; i <=12; i++) {#}
{#                                    list.push(i);#}
{#                                }#}
{#                                return list;#}
{#                            })()#}
{#                        },#}
{#                        visualMap: {#}
{#                            top: 'middle',#}
{#                            right: 10,#}
{#                            color: ['red', 'yellow'],#}
{#                            calculable: true#}
{#                        },#}
                        radar: {
                           indicator : [
                               { text: '缺陷排名质量', max: 400},
                               { text: 'Reopen率排名（态度）', max: 400},
                               { text: '线上缺陷遗漏率（准出）', max: 400},
                               { text: '严重问题占比（提测）', max: 400},
                               { text: '研发响应时间', max: 400}
                            ]
                        },
                        series : (function (){
                            var series = [];
{#                            for (var i = 1; i <= 12; i++) {#}
                            i = '结果（%）'
                                series.push({
                                    name:'Bug比例（数据纯属虚构）',
                                    type: 'radar',
                                    symbol: 'none',
                                    lineStyle: {
                                        width: 1
                                    },
                                    emphasis: {
                                        areaStyle: {
                                            color: 'rgba(0,250,0,0.3)'
                                        }
                                    },
                                    data:[
                                      {
                                        value:[
                                            5,
                                            15,
                                            20,
                                            25,
                                            35
                                        ],
                                        name: i
                                      }
                                    ]
                                });
{#                            }#}
                            return series;
                        })()
                    };

                // 使用刚指定的配置项和数据显示图表。
                myChart.setOption(option);
            </script>
{% endblock %}