{% extends 'base.html' %}
{% block title %}前言{% endblock %}
{% block content %}
{#    <div class="zong" style="with: 500px">#}
        <div id="position2" class="row" xmlns="http://www.w3.org/1999/html">
            <div class="col-md-12" style="padding-left: 80px">
        {#        <h1 class="page-head-line">部门</h1>#}
                <h2 class="page-subhead-line"><strong>CAOCAO小伙伴们，大家好，欢迎来到曹操阅读俱乐部！</strong></h2>
            </div>
        </div>
        <br>
        <div style="padding-left: 80px;width: 1000px">
            <h4><strong>为保证顺利借阅，请务必花30秒知晓以下内容：</strong></h4>
            <ol style="font-size: 18px">
                <li>阅读俱乐部是公司为丰富员工精神世界所办，每月公司拿出一定预算购书</li><br>
                <li>本网站为公司技术所开发，唯一官方借阅网站，请大家实名注册并保存网址</li><br>
                <li>每月中旬上架新书，书架有3处：25楼茶水间&26楼东面&27楼东面</li><br>
                <li>借阅期为30天，若30天未看完，请登记续借，最长不超过40天借阅期</li><br>
                <li>大家想看的书可以在本站内 “心愿书”一栏添加，他人可以点赞</li><br>
                <li>阅后有所感悟的小伙伴，欢迎来本站“分享汇”来分享</li><br>
                <li>书籍所有权归公司所有</li><br>
            </ol>
        </div>
        <br><br><br>
        <div style="padding-left: 80px">
            <h4><strong>两句阅读俱乐部部长写给大家的心里话：</strong></h4>
            <ol style="font-size: 18px;width: 1000px">
                <li>借阅很简单：书架上看中哪本，抱走，到工位上打开本站，输入书名，点击借阅。记得归还。</li><br>
                <li>如果你觉得麻烦，请想一下部长的流程：征集大家想看的书单、一本一本去网站上找、下单、支付（自己先垫钱）、
                    快递到了签收、扛两箱书上26楼、一本一本拆塑封、盖章、打开网站上架新书、为每本书写备注、把书分配到25/26/27楼书架、
                    确认收货、打印书单和发票、报销、定期统计书籍损毁丢失情况、追书。以上这些工作，公司不会多发部长一分钱工资，纯粹是为
                    大家服务，希望每一个爱看书的小伙伴都能将心比心。</li><br>
                <li>愿2019年我们都能成为精神富足的人，再次感谢公司福利！</li><br>
            </ol>
        </div>
        <script type="text/javascript">
             window.onload = function () {
                 toastr.options.positionClass = 'toast-center-center';
                 toastr.warning("请勿越权操作！！！");
             };
        </script>
{#    </div>#}
{% endblock %}