{% extends 'base.html' %}
{% block title %}前言{% endblock %}
{% block content %}
    <div class="zong" style="with: 82%">
        {% load staticfiles %}
        <script src="{% static 'bootstrap-3.3.7-dist/js/echarts.js'%}"></script>
        <div id="position2" class="row" xmlns="http://www.w3.org/1999/html">
            <div class="col-md-12">
        {#        <h1 class="page-head-line">部门</h1>#}
                <h1 class="page-subhead-line"><strong>曹操阅读欢迎您！</strong></h1>
            </div>
        </div>
        <br>
        <div>
            <ol>
                <li>阅读俱乐部是公司为丰富员工精神世界所创办，每月公司拿出一定预算购书</li>
                <li>大家想看什么书可报到部长（赵倩）处，每月中旬统一采购并上架</li>
                <li>小黄书、大部头、宗教系列书籍不在采购范围（如：金瓶梅、哈利波特全集、圣经）</li>
                <li>书架在25楼茶水间&27楼东面工位附近（27楼主要摆放技术类书籍）</li>
                <li>借阅期不超过30天，为更好的“雨露均沾”，请于30天内看完</li>
                <li>若长期书籍丢失，公司会减少每月购书的预算，望大家体谅</li>
                <li>书籍所有权归公司所有</li>
                <li>借阅地址：<a href="https://yiqixie.com/s/home/fcADYMz-IpT_iHdILcQ5TjSaz">点击借阅</a></li>
                <li>借阅归还都是以上网址</li>
            </ol>
            <span style="color: red">PS：请大家 遵守借阅规则，填写借阅记录，营造借阅环境，减少书籍丢失，维持采购预算，丰富精神世界！</span>
        </div>
    </div>
{% endblock %}