
        <input type='checkbox' id='sidemenu'>
        <aside>
            <h2>导航栏</h2>
            <br />
            <ul id="sideul">
                <li>
                    <a href="/userlogin/index/">
                    首页
                    </a>
                </li>
                <br>
{#                    <li style="color: orange;">部门</li>#}
                <br>
                <li class="dropdown">
                    <a href="#"  class="dropdown-toggle" data-toggle="dropdown">
                    禅道
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/dataanalyze/zentao-department/">部门</a></li>
                        <li><a href="/dataanalyze/zentao-personal/">个人</a></li>
				    </ul>
                </li>
                <br>
                <li class="dropdown">
                    <a href="#"  class="dropdown-toggle" data-toggle="dropdown">
                    SonarQube
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/dataanalyze/sonarqube-unittest/">单元测试覆盖率</a></li>
				    </ul>
                </li>
            </ul>
        </aside>
        <div id='wrap'>
            <label id='sideMenuControl' for='sidemenu'>≡</label>
            <!--for 属性规定 label 与哪个表单元素绑定，即将这个控制侧边栏进出的按钮与checkbox绑定-->
        </div>
