
        <input type='checkbox' id='sidemenu'>
        <aside>
            <h2>导航栏</h2>
            <br />
            <ul id="sideul">
                <a href="/userlogin/index/">
                    <li>首页</li>
                </a>
                <br>
                <a href="/dataanalyze/zentao-department/">
{#                    <li style="color: orange;">部门</li>#}
                    <li>部门</li>
                </a>
                <br>
                <a href="/dataanalyze/zentao-personal/">
                    <li>个人</li>
                </a>
{#                <br>#}
{#                <a href="##">#}
{#                    <li>导航3</li>#}
{#                </a>#}
{#                <br>#}
{#                <a href="##">#}
{#                    <li>导航4</li>#}
{#                </a>#}
{#                <br>#}
{#                <a href="##">#}
{#                    <li>导航5</li>#}
{#                </a>#}
{#                <br>#}
{#                <a href="##">#}
{#                    <li>导航6</li>#}
{#                </a>#}
            </ul>
        </aside>
        <div id='wrap'>
            <label id='sideMenuControl' for='sidemenu'>≡</label>
            <!--for 属性规定 label 与哪个表单元素绑定，即将这个控制侧边栏进出的按钮与checkbox绑定-->
        </div>
