
        <input type='checkbox' id='sidemenu'>
        <aside style="background-color: teal;">
{#            <h2>导航栏</h2>#}
            <br />
            <ul id="sideul">
                <li>
                    <a href="/userlogin/index/" style="color: white">
                    前言
                    </a>
                </li>
{#                    <li style="color: orange;">部门</li>#}
                <br>
{#                <li class="dropdown">#}
{#                    <a href="#"  class="dropdown-toggle" data-toggle="dropdown" style="color: white">#}
{#                    新书推荐<b class="caret"></b>#}
{#                    </a>#}
{#                    <ul class="dropdown-menu">#}
{#                        <li><a href="/booksdata/zentao-department/">全部</a></li>#}
{#                        <li><a href="/booksdata/zentao-department/">技术</a></li>#}
{#                        <li><a href="/booksdata/zentao-personal/">其他</a></li>#}
{#				    </ul>#}
{#                </li>#}
{#                <br>#}
                <li>
                    <a href="/booksdata/view-newbooks/" style="color: white">
                    新书上架
                    </a>
                </li>
                <br>
{#                <li class="dropdown">#}
{#                    <a href="#"  class="dropdown-toggle" data-toggle="dropdown" style="color: white">#}
{#                    图书借阅<b class="caret"></b>#}
{#                    </a>#}
{#                    <ul class="dropdown-menu">#}
{#                        <li><a href="/booksdata/sonarqube-unittest/">全部</a></li>#}
{#                        <li><a href="/booksdata/sonarqube-unittest/">技术</a></li>#}
{#                        <li><a href="/booksdata/sonarqube-unittest/">其他</a></li>#}
{#				    </ul>#}
{#                </li>#}
                <li class="dropdown">
                    <a href="/booksdata/view-allbooks/" style="color: white">
                    图书借阅
                    </a>
                </li><br>
                <li class="dropdown">
                    <a href="/booksdata/view-whish-books/" style="color: white">
                    心愿书
                    </a>
                </li><br>
                <li class="dropdown">
                    <a href="/booksdata/view-book-thoughts/" style="color: white">
                    分享汇
                    </a>
                </li>
{#                <br>#}
{#                <li class="dropdown">#}
{#                    <a href="#"  class="dropdown-toggle" data-toggle="dropdown" style="color: white">#}
{#                    阅读分享<b class="caret"></b>#}
{#                    </a>#}
{#                    <ul class="dropdown-menu">#}
{#                        <li><a href="/booksdata/sonarqube-unittest/">全部</a></li>#}
{#                        <li><a href="/booksdata/sonarqube-unittest/">技术</a></li>#}
{#                        <li><a href="/booksdata/sonarqube-unittest/">其他</a></li>#}
{#				    </ul>#}
{#                </li>#}
                <br>
                {% if request.session.user_id == 1 %}
                    <li class="dropdown">
                        <a href="#"  class="dropdown-toggle" data-toggle="dropdown" style="color: white">
                        管理后台<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
    {#                        <li><a href="/booksdata/add-dept/">添加部门</a></li>#}
                            <li><a href="/booksdata/view-dept/">部门管理</a></li>
    {#                        <li><a href="/booksdata/add-author/">添加作者</a></li>#}
    {#                        <li><a href="/booksdata/view-author/">作者管理</a></li>#}
    {#                        <li><a href="/booksdata/add-publisher/">添加出版社</a></li>#}
    {#                        <li><a href="/booksdata/view-publisher/">出版社管理</a></li>#}
    {#                        <li><a href="/booksdata/add-booktype/">添加书籍类型</a></li>#}
                            <li><a href="/booksdata/view-booktype/">书籍类型管理</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </aside>
{#        <div id='wrap'>#}
{#            <label id='sideMenuControl' for='sidemenu'>≡</label>#}
{#            <!--for 属性规定 label 与哪个表单元素绑定，即将这个控制侧边栏进出的按钮与checkbox绑定-->#}
{#        </div>#}
